examples/example 3 - topic override.json
[
    {
        "id": "3f3d6774.cce2f",
        "type": "tab",
        "label": "topic override",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c11b7d9c.021958",
        "type": "inject",
        "z": "3f3d6774.cce2f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ignored",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "bf0781a1230c42ac"
            ]
        ]
    },
    {
        "id": "3706780.96a0c08",
        "type": "inject",
        "z": "3f3d6774.cce2f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ignored",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "bf0781a1230c42ac"
            ]
        ]
    },
    {
        "id": "5d48ca08.c9c664",
        "type": "debug",
        "z": "3f3d6774.cce2f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 560,
        "y": 100,
        "wires": []
    },
    {
        "id": "4e8c7759.a6b17",
        "type": "debug",
        "z": "3f3d6774.cce2f",
        "name": "timer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "edfec9d6.4e066",
        "type": "debug",
        "z": "3f3d6774.cce2f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "d9fa71cd.4df948",
        "type": "comment",
        "z": "3f3d6774.cce2f",
        "name": "When topic is defined in node properties it overrides the incoming message topic.",
        "info": "",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "bf0781a1230c42ac",
        "type": "timer-node",
        "z": "3f3d6774.cce2f",
        "name": "",
        "topic": "override topic",
        "timer": "5",
        "payloadOn": "false",
        "payloadOnType": "bool",
        "payloadOff": "true",
        "payloadOffType": "bool",
        "x": 350,
        "y": 160,
        "wires": [
            [
                "5d48ca08.c9c664",
                "edfec9d6.4e066"
            ],
            [
                "4e8c7759.a6b17"
            ]
        ]
    }
]