examples/example 3 - topic override.json
[
    {
        "id": "3f3d6774.cce2f",
        "type": "tab",
        "label": "timer topic overide",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6eed61c1.f7a888",
        "type": "timer",
        "z": "3f3d6774.cce2f",
        "name": "",
        "topic": "overide topic",
        "timer": "5",
        "payloadOn": "true",
        "payloadOnType": "bool",
        "payloadOff": "false",
        "payloadOffType": "bool",
        "x": 370,
        "y": 140,
        "wires": [
            [
                "5d48ca08.c9c664",
                "edfec9d6.4e066"
            ],
            [
                "4e8c7759.a6b17"
            ]
        ]
    },
    {
        "id": "c11b7d9c.021958",
        "type": "inject",
        "z": "3f3d6774.cce2f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ignored",
        "payload": "true",
        "payloadType": "bool",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "6eed61c1.f7a888"
            ]
        ]
    },
    {
        "id": "3706780.96a0c08",
        "type": "inject",
        "z": "3f3d6774.cce2f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ignored",
        "payload": "false",
        "payloadType": "bool",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "6eed61c1.f7a888"
            ]
        ]
    },
    {
        "id": "5d48ca08.c9c664",
        "type": "debug",
        "z": "3f3d6774.cce2f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 520,
        "y": 80,
        "wires": []
    },
    {
        "id": "4e8c7759.a6b17",
        "type": "debug",
        "z": "3f3d6774.cce2f",
        "name": "timer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 510,
        "y": 240,
        "wires": []
    },
    {
        "id": "edfec9d6.4e066",
        "type": "debug",
        "z": "3f3d6774.cce2f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "d9fa71cd.4df948",
        "type": "comment",
        "z": "3f3d6774.cce2f",
        "name": "topic override in timer properties",
        "info": "",
        "x": 170,
        "y": 80,
        "wires": []
    }
]