examples/example 2 - msg propagation.json
[
    {
        "id": "8af9695e.73126",
        "type": "tab",
        "label": "msg property propagation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "43d996ab.f0fa48",
        "type": "inject",
        "z": "8af9695e.73126",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "foo",
                "v": "bar",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "object copying",
        "payload": "true",
        "payloadType": "bool",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "1421f228d1843b9b"
            ]
        ]
    },
    {
        "id": "c830b39e.c0c1",
        "type": "debug",
        "z": "8af9695e.73126",
        "name": "timer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 610,
        "y": 280,
        "wires": []
    },
    {
        "id": "3a0fe194.c88de6",
        "type": "debug",
        "z": "8af9695e.73126",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "40a132b2.d74a8c",
        "type": "debug",
        "z": "8af9695e.73126",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "foo",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "d2e4815a.235dd",
        "type": "debug",
        "z": "8af9695e.73126",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 620,
        "y": 80,
        "wires": []
    },
    {
        "id": "3b550efa.cdb4aa",
        "type": "inject",
        "z": "8af9695e.73126",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "foo",
                "v": "cis boom bah",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "object copying cancelled",
        "payload": "false",
        "payloadType": "bool",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "1421f228d1843b9b"
            ]
        ]
    },
    {
        "id": "8d7ff426.ad474",
        "type": "comment",
        "z": "8af9695e.73126",
        "name": "Message properties are copied over to the output.",
        "info": "",
        "x": 200,
        "y": 40,
        "wires": []
    },
    {
        "id": "1421f228d1843b9b",
        "type": "timer-node",
        "z": "8af9695e.73126",
        "name": "",
        "topic": "",
        "timer": "5",
        "payloadOn": "false",
        "payloadOnType": "bool",
        "payloadOff": "true",
        "payloadOffType": "bool",
        "x": 410,
        "y": 180,
        "wires": [
            [
                "d2e4815a.235dd",
                "3a0fe194.c88de6",
                "40a132b2.d74a8c"
            ],
            [
                "c830b39e.c0c1"
            ]
        ]
    },
    {
        "id": "c81e85b84437fd8a",
        "type": "comment",
        "z": "8af9695e.73126",
        "name": "only msg.payload is changed.",
        "info": "",
        "x": 140,
        "y": 80,
        "wires": []
    }
]